<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.kgc.houserent.entity"></package>
    </typeAliases>

    <!--分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <mappers>
        <!--映射-->
        <mapper resource="mapper/DistrictMapper.xml"></mapper>
        <mapper resource="mapper/HouseMapper.xml"></mapper>
        <mapper resource="mapper/StreetMapper.xml"></mapper>
        <mapper resource="mapper/TypeMapper.xml"></mapper>
        <mapper resource="mapper/UsersMapper.xml"></mapper>
    </mappers>

</configuration>